* {
    box-sizing: border-box;
    padding: 0;
}

body {
    background-color: white;
    margin: 0px 50px
}

li, a, button {
    font-weight: 510;
    font-size: 18px;
    color: #050707;
    text-decoration: none;
}

header {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding: 30px 10%;
    margin-bottom: 60px;
}
.nav_links {
    list-style: none;
}

.nav_links li {
    display: inline-block;
    padding: 0px 20px;
}

button {
    color: rgb(205, 83, 209);
    background:none;
    border:none;
    margin:0;
    padding:0;
    cursor: pointer;
}

.logo {
    cursor: pointer;
    width: 160px;
    height: 100px;
    margin-right: auto;
}

graphic-container {
    display:flex;
}

.Big-text {
    font-weight: bold;
    font-size: 100px;
}

.left-graphic {
    display: flex;
    flex-direction: column;
    float: left;
    width: 50%;
}
.right-graphic {
    display: flex;
}

.graphic-paragraph {
    font-size: 20px;
    margin-bottom: 30px;
    margin-top: 30px;
}

.graphic-cointainer {
    width: 100%;
}

h3 {
    color: rgb(205, 83, 209);
}

.imageContainer {
    background-image: url("background.svg");
    color: rgb(0, 0, 0);
    width: 100%;
    height: 250px;
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 25px;
    padding-top: 100px;
    padding-left: 50px;
 }

 .BL {
    font-weight: bolder;
    font-size: 36px;
    margin-bottom: 10px;
 }

 .BL2 {
    font-size: 26px;
    font-weight: normal;
 }
 .companies, .ntfs-container {
     display: flex;
     margin-top: 80px;
     margin-bottom: 80px;
     justify-content: space-between;
 }


 article > h2 {
     font-size: 34px;
 }

    .gloop {
     color:orange;
 }

    .bid {
    color: rgb(110, 94, 94);
}

.row {
    display: flex;
    justify-content: space-between;
    padding: 0 15px;
}

.ntfs-container >* {
    background-color: rgb(224, 221, 221);
    border-radius: 10px;
}

.name-value {
    font-weight: 600;
    font-size: 18px;
    color: black; 
}

.bottom-article {
    display: flex;
}

.upsell-image {
    flex: 1;
}

.bottom-text {
    flex: 2;
}

.bottom-text > h2 {
    font-size: 50px;
}

.bottom-text > p {
    color:#272c2c;
    font-size: 25px;
}
.btn {
  background-color: transparent;
  border: 2px solid #1A1A1A;
  border-radius: 15px;
  color: #3B3B3B;
  font-family: Roobert,-apple-system,BlinkMacSystemFont,"Segoe UI",Helvetica,Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol";
  font-size: 16px;
  font-weight: 600;
  width: 150px;
  height: 60px;
  padding: 16px 24px;
}

footer {
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.footer-left {
    width: 40%;
}
.footer-right {
   display: flex;
}

.footer-item {
    display: flex;
    flex-direction: column;
    margin: 0 20px;
}


.footer-item > p {
    font-weight: bold;
}